.contacts {
    display: flex;
    width: 280px;
    margin: 0 auto;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 27px;
    padding-bottom: 27px;
    background-color: #ffffff;
  
    &--bc-gray {
      background-color: #f2f2f2;
    }
  }
  
  .contacts__title {
    width: 97px;
    margin: 0;
    font-size: 16px;
    line-height: 20px;
    font-family: "Oswald Regular", "Arial", sans-serif;
    color: #111111;
    text-transform: uppercase;
  }
  
  .contacts__text {
    width: 145px;
    margin: 0;
    margin-left: 45px;
    font-size: 14px;
    line-height: 20px;
    font-family: "Arial Regular", "Arial", sans-serif;
    color: #444444;
  }
  
  @media (min-width: 768px) {
    .contacts {
      display: flex;
      width: 628px;
      padding-left: 70px;
      padding-right: 70px;
      padding-top: 66px;
      padding-bottom: 57px;
    }
  
    .contacts__title {
      width: 121px;
      font-size: 20px;
      line-height: 25px;
    }
  
    .contacts__text {
      width: 177px;
      margin-left: 328px;
      margin-top: -3px;
      font-size: 16px;
      line-height: 20px;
      text-align: right;
    }
  
    .contacts__text-spb {
      display: block;
      padding-top: 20px;
    }
  }
  
  @media (min-width: 1300px) {
    .contacts {
      width: 414px;
      z-index: 1;
      margin-top: 96px;
      margin-left: 0;
      padding-left: 75px;
      padding-right: 80px;
      padding-top: 65px;
      padding-bottom: 59px;
  
      &--bc-gray {
        background-color: #ffffff;
      }
    }
  
    .contacts__title {
      width: 121px;
      font-size: 20px;
      line-height: 25px;
    }
  
    .contacts__text {
      width: 177px;
      margin-left: 130px;
      font-size: 16px;
      line-height: 20px;
      text-align: left;
    }
  }
