.catalog-list__item {
    display: flex;
    flex-wrap: wrap;
    padding-left: 20px;
    border: 1px solid #e6e6e6;
    border-bottom: none;
  
    &--more-item {
      flex-direction: column;
      align-items: center;
      padding-left: 0;
    }
  }
  
  .catalog-list__item:last-child {
    border-bottom: 1px solid #e6e6e6;
  }
  .catalog-list__image {
    display: block;
  }
  
  .catalog-list__button {
    margin-bottom: 24px;
  }
  
  .catalog-list__item-link {
    text-decoration: none;
    cursor: pointer;
  }
  
  .catalog-list__title-name {
    width: 91px;
    margin-top: 21px;
    font-size: 16px;
    line-height: 20px;
    font-family: "Oswald Regular", "Arial", sans-serif;
    color: #111111;
    text-transform: uppercase;
  }
  
  
  @media (min-width: 768px) {
    .catalog-list__item {
      flex-direction: column;
      align-items: center;
      width: 324px;
      margin-bottom: 144px;
      background-color: #f2f2f2;
      border: none;
      padding-left: 0;
      padding-right: 0;
  
      &:nth-child(7) {
        margin-bottom: 0;
      }
  
      &--more-item {
        width: 322px;
        margin-bottom: 0;
        background-color: #ffffff;
      }
    }
  
    .catalog-list__item:last-child {
      border: 1px solid #e6e6e6;
    }
  
    .catalog-list__item:nth-child(2n) {
      margin-right: 0;
    }
  
    .catalog-list__image {
      margin-top: -47px;
      margin-left: 0;
  
      &--small-size {
        width: 318px;
        height: 172px;
      }
  
      &--big-size {
        width: 319px;
        height: 208px;
        margin-top: -83px;
      }
    }
  
    .catalog-list__title-name {
      text-align: center;
      width: 130px;
      margin-top: 37px;
      font-size: 20px;
    }
  
    .catalog-list__button {
      margin-bottom: 40px;
    }
  }
  
  @media (min-width: 1300px) {
    .catalog-list__item {
      width: 245px;
      margin-top: 0;
  
      &:nth-child(6),
      &:nth-child(5) {
        margin-bottom: 0;
      }
  
      &--more-item {
        width: 242px;
        background-color: #ffffff;
      }
    }
  }
  
  .catalog-info-list {
    width: 141px;
    margin-left: 99px;
    margin-top: -71px;
    background-color: #ffffff;
    list-style: none;
  }
  
  .catalog-info-list__item {
    display: flex;
    justify-content: space-between;
  }
  
  .catalog-info-list__name {
    text-align: left;
    font-size: 12px;
    line-height: 16px;
    font-family: "Arial Regular", "Arial", sans-serif;
    color: #444444;
  }
  
  .catalog-info-list__field {
    text-align: right;
    font-size: 12px;
    line-height: 16px;
    font-family: "Arial Regular", "Arial", sans-serif;
    color: #444444;
  }
  
  @media (min-width: 768px) {
    .catalog-info-list {
      width: 249px;
      margin: 0;
      margin-bottom: 32px;
      padding-left: 0;
      background-color: #f2f2f2;
      border-collapse: collapse;
    }
  
    .catalog-info-list__item {
      display: flex;
      justify-content: space-between;
      border-bottom: 1px solid #cdcdcd;
    }
  
    .catalog-info-list__name {
      height: 23px;
      font-size: 16px;
      padding-top: 8px;
    }
  
    .catalog-info-list__field {
      height: 23px;
      font-size: 16px;
      padding-top: 8px;
    }
  }
  
  @media (min-width: 1300px) {
    .catalog-info-list {
      width: 170px;
      margin-top: 0;
    }
  }